{% extends "emails/layout.twig" %}
{% block subject %}Your Password Reset Request{% endblock %}
{% block content %}
<h1>Hi {{ account.name|default('Bolt User') }}</h1>
<p>A password reset request was made for your account from the Bolt Extensions site.</p>
<p>
    To choose a new password, follow the link below:<br>
    <a href="https://extensions.bolt.cm/reset?token={{account.token}}">https://extensions.bolt.cm/reset?token={{account.token}}</a>
</p>
{% endblock %}

{% block info %}
    <p>If you haven't made a password reset request, then it's safe to ignore this.</p>
{% endblock %}
