{% extends twigparent %}

{% block content %}

    <div class="ui middle aligned center aligned grid">
        <div class="column" style="max-width: 450px;">
            <h2 class="ui vk image header">
                <img src="/files/bolt_icon.png" class="image">
                <div class="content">
                    Log-in to your account
                </div>
            </h2>

            {{ members_auth_login() }}

        </div>
    </div>

{% endblock content %}
