{% extends "layout.twig" %}

{% block ga_extras %}
{% endblock %}

{% block header_title %} | Loose Nuts… {% endblock %}

{% block content %}
    <div class="ui grid stackable">
        <div class="eight wide column">
            <h2 class="ui header">
                <img class="ui rounded image" src="">
                <div class="content">
                    404 Not Found
                </div>
            </h2>
        </div>
        <div class="right floated right aligned eight wide column">

            <div class="ui right floated main menu">

            </div>
        </div>
    </div>

    <br>

    <div class="ui grid stackable">

    </div>

{% endblock %}

{% block header_extra_scripts %}
    <script>
    </script>

    <script src="/theme/market-place/js/jquery.scrollbar.min.js"></script>
    <script src="//cdn.jsdelivr.net/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
    <script src="/theme/market-place/js/extension-extras.js"></script>
{% endblock %}
