{% extends "layout.html" %}
{% block content %}
<div class="ui two column centered grid">
    <div class="column">
        <div class="">
            <h3>Choose a new Password</h3>
        </div>
        <br>
        <div class="ui form">
            {% if tokenValid %}
                <form action="" method="post">
                    {% for passwordField in form.password %}
                        <div class="field">
                            {{ form_label(passwordField, null, { 'attr': {'class': 'form-label'} }) }}
                            {{ form_widget(passwordField, { 'attr': {'class': 'form-input'} }) }}
                        </div>
                    {% endfor %}

                    {{form_row(form.reset, {attr:{class:'ui fluid large green submit button'}})}}
                </form>
            {% elseif resetSuccessful %}
                <p>Your password has been updated. You may now return to the <a href="{{ url('login') }}">login page</a> and access your account.</p>
            {% else %}
                <p>Sorry, your token is no longer valid. To make a new reset request please return to the <a href="{{ url('reset') }}">password reset page</a>.</p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
