{% extends "layout.twig" %}

{% block content %}
<div class="ui two column centered grid">
    <div class="column">
        <div class="">
            <h3>Password reset requested</h3>
            <p>
                Your password reset instructions have been sent to your registered email address. Follow the link and you will be able to reset
                your password.
            </p>
        </div>
    </div>

</div>
{% endblock %}
