app/config/satis/auth.json
app/config/satis/boltrunner_id_rsa
app/database/*.db
config/config.php
config/env.phpvendor
config/github*
config/github.json
node_modules
public/bolt-public/view/
public/satis
public/theme/marketplace/
satis.json
var/*
vendor
