{% extends "layout.html" %}

{% block content %}

<div class="splash-section reverse search-section">
    <div class="row">
        <div class="large-12 columns">
            <h2>Package Moderation</h2>
            <p>Packages are enabled by default, untick to disable</p>
        </div>
    </div>
</div>
<div class="panel">
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-1 columns">&nbsp;</div>
                <div class="large-2 columns"><strong>Package Title</strong></div>
                <div class="large-5 columns"><strong>Package Source</strong></div>
                <div class="large-4 columns"><strong>Package Description</strong></div>
            </div>
            <hr>
            {% for package in packages %}
                <div class="row">
                    <div class="large-1 columns">
                        <input type="checkbox" value="1"{% if package.approved %} checked="checked"{% endif %}>
                    </div>
                    <div class="large-2 columns"><p>{{package.title}}</p></div>
                    <div class="large-5 columns"><p><a href="{{package.source}}">{{package.source}}</a></p></div>
                    <div class="large-4 columns"><p>{{package.description}}</p></div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}