{% extends "layout.html" %}

{% block splash %}

    <h2>Extension Test Status</h2>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="large-8 columns">
            <h3>{{ buildStatus(build) }} Test Summary for: {{build.package.name}} <small>({{ build.version }})</small></h3>
            
            <ol>
                {% for url, test in build.testResult %}
                    <li>
                        <div data-alert class="alert-box {% if test.status =='OK' %}success{%else%}alert{%endif%}">
                            <strong>Test:</strong> {{ test.title }}<br>
                            <strong>Status:</strong> {{ test.status }}
                        </div>
                    </li>
                {% endfor %}
            </ol>
            {% if not build.testResult and build.testStatus == 'failed' %}
                <h5>The automated tests for your extension did not successfully run!</h5>
                <p>The most likely reason for this is that the extension created an unstable installation on the PHP version targeted.</p>
                <p>
                    You can test again using the form on the right, if you think there may be a problem please get in touch for help via the normal Bolt support channels.
                </p>
            {% endif %}
        </div>
        <div class="large-4 columns">
            <div class="panel">
                {% if build.status == 'waiting' %}
                    <p>It is now being processed and will shortly be available. Please wait...</p>
                    <p>(the page will reload automatically)</p>
                    <script type="text/javascript">
                    window.setTimeout(function(){
                        location.href = '{{url('test', {package:build.package.id,version:build.version} )}}'; 
                    },7000);
                    </script>
                {% elseif build.status == 'complete' %}
                    <p>Test your extension here:<br> <a href="{{ build.url }}/bolt/">Launch {{ build.url[:26] }}...</a></p>
                    <p>
                        When requested login as:<br>
                        <strong>Username:</strong> 'admin'<br>
                        <strong>Password:</strong> 'password'
                    </p>
                    
                    <p>If the url above has expired then you can trigger a retest using the link below.</p>
                    <form action="{{url('retest',{package:build.package.id,version:build.version})}}" method="post">
                        <label>PHP Version to Target</label>
                        <select name="phpTarget">
                            <option value="php56"{%if build.phpTarget == 'php56' %} selected="selected"{%endif%}>Latest (PHP 5.6)</option>
                            <option value="php55"{%if build.phpTarget == 'php55' %} selected="selected"{%endif%}>PHP 5.5</option>
                            <option value="php54"{%if build.phpTarget == 'php54' %} selected="selected"{%endif%}>PHP 5.4</option>
                            <option value="php53"{%if build.phpTarget == 'php53' %} selected="selected"{%endif%}>PHP 5.3</option>
                        </select>
                        <button class="tiny">
                            TRIGGER TEST
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
