{% extends "layout.html" %}

{% block content %}
    <div class="ui grid stackable centered">
        <div class="twelve wide column">     
            <h2 class="ui header">
                <img class="ui rounded image" src="/images/{{ package.type }}.png">
                <div class="content">
                    {{package.title}}
                    <div class="sub header">by {{package.authors}}</div>
                </div>
            </h2>
        </div>
        
        <div class="eight wide column">
            <h3 class="ui-header">
                {{ buildStatus(build) }} Test Summary for: {{build.package.name}} <small>({{ build.version }})</small>
            </h3>
            
            
            {% if build.status != 'complete' %}
                <h3 class="ui header">Holt tight while we get a test version running.</h5>
                
                <div class="ui icon message">
                    <i class="notched circle loading icon"></i>
                    <div class="content">
                        <div class="header">Preparing test build</div>
                        <div data-alert class="" 
                            data-build="{{ build.id }}" 
                            data-build-building
                            data-build-url="{{url('test', {'package':build.package.id,'version':build.version})}}"
                        >
                            {{ build.status|upper }}
                        </div>
                    </div>
                </div>
            {% endif %}            
            
            {% for url, test in build.testResult %}
                <div class="ui message {% if test.status =='OK' %}positive{%else%}error{%endif%}">
                    <div class="header"><strong>Test:</strong> {{ test.title }}</div>
                    <p><strong>Status:</strong> {{ test.status }}</p>
                </div>
            {% endfor %}

            {% if not build.testResult and build.testStatus == 'failed' %}
                <h5>The automated tests for your extension did not successfully run!</h5>
                <p>The most likely reason for this is that the extension created an unstable installation on the PHP version targeted.</p>
                <p>
                    You can test again using the form on the right, if you think there may be a problem please get in touch for help via the normal Bolt support channels.
                </p>
            {% endif %}
        </div>
        <div class="four wide column">
            <div class="ui message">
                
                {% if build.status == 'complete' %}
                    <h4 class="ui header">Test your extension here</h4>
                    <p><a href="{{ build.url }}/bolt/">Launch {{ build.url[:26] }}...</a></p>
                    <p>
                        When requested login as:<br>
                        <strong>Username:</strong> 'admin'<br>
                        <strong>Password:</strong> 'password'
                    </p>
                    
                    <p>If the url above has expired then you can trigger a retest using the link below.</p>
                    <form class="ui form" action="{{url('retest',{package:build.package.id,version:build.version})}}" method="post">
                        <div class="field">
                            <label>PHP Version to Target</label>
                            <select name="phpTarget">
                                <option value="php56"{%if build.phpTarget == 'php56' %} selected="selected"{%endif%}>Latest (PHP 5.6)</option>
                                <option value="php55"{%if build.phpTarget == 'php55' %} selected="selected"{%endif%}>PHP 5.5</option>
                                <option value="php54"{%if build.phpTarget == 'php54' %} selected="selected"{%endif%}>PHP 5.4</option>
                                <option value="php53"{%if build.phpTarget == 'php53' %} selected="selected"{%endif%}>PHP 5.3</option>
                            </select>
                        </div>
                        <button class="tiny ui button teal">
                            TRIGGER TEST
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
        
    </div>

{% endblock %}
