{% extends "layout.html" %}

{% block splash %}

    <h2>Extension Test Status</h2>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="large-12 columns">
            {% if build.status == 'waiting' %}
                <p>It is now being processed and will shortly be available. Please wait...</p>
                <script type="text/javascript">
                window.setTimeout(function(){location.reload()},1000);
                </script>
            {% elseif build.status == 'complete' %}
                <p>Test your extension here: <a href="{{ build.url }}/bolt/">{{ build.url }}</a></p>
                <p>
                    When requested login as:<br>
                    <strong>Username:</strong> 'admin'<br>
                    <strong>Password:</strong> 'password'
                </p>
            {% endif %}
        </div>
    </div>


{% endblock %}
