{% extends "layout.html" %}

{% block splash %}

    <h2>Search for Bolt Extensions</h2>
    <form action="" id="extension-search">
        <input id="search-text" type="text" placeholder="eg: Package name or namespace or keyword" value="">
    </form>
        
{% endblock %}

{% block content %}

    <div class="large-12 columns package-list">
        <h3>Latest Bolt Extensions</h3>
        <hr />
        
        {% include '_packages.html' with {'packages':latest} %}

    </div>
    
    <div class="row pack-summary">
        <div class="large-6 columns">
            <h3>Most Starred Extensions</h3>
            <hr>
            {% for package in starred %}
                <div class="row collapse">
                    <div class="large-7 columns"><h6><strong>{{package.name}}</strong></h6></div>
                    <div class="large-1 columns"><h5><i class="fi-download"></i> {{package.stars|default(0)}}</h5></div>
                    <div class="large-4 columns">                    
                        <a class="button radius tiny" href="{{url('view',{'package':package.id})}}">Details</a>
                    </div>
                </div>
                <hr />
            {% endfor %}
        </div>
        
        <div class="large-6 columns">
            <h3>Most Downloaded Extensions</h3>
            <hr>
            {% for package in downloaded %}
                <div class="row collapse">
                    <div class="large-7 columns"><h6><strong>{{package.name}}</strong></h6></div>
                    <div class="large-1 columns"><h5><i class="fi-download"></i> {{package.downloads|default(0)}}</h5></div>
                    <div class="large-4 columns">                    
                        <a class="button radius tiny" href="{{url('view',{'package':package.id})}}">Details</a>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}