{% extends "layout.html" %}

{% block splash %}

    <h2>Search for Bolt Extensions</h2>
    <form action="" id="extension-search">
        <input id="search-text" type="text" placeholder="eg: Package name or namespace or keyword" value="">
    </form>
        
{% endblock %}

{% block content %}

    <div class="large-12 columns package-list">
        <h3>Latest Bolt Extensions</h3>
        <hr />
        
        {% include '_packages.html' with {'packages':latest} %}

    </div>  
    
{% endblock %}