{% extends "layout.html" %}

{% block splash %}

    <h2>Search for Bolt Extensions</h2>
    <form action="" id="extension-search">
        <input id="search-text" type="text" placeholder="eg: Package name or namespace or keyword" value="">
    </form>
    
    <div class="row">
        <div class="large-12 columns">
            <p>
                most popular keywords:
                {% for tag,count in popular %}
                    <a href="{{url('browse')}}?q={{tag}}"><span class="label tags round">{{tag}}</span></a>
                {% endfor %}
            </p>
        </div>
    </div>
        
{% endblock %}

{% block content %}

    <div class="large-12 columns package-list">
        <h3>Latest Bolt Extensions</h3>
        <hr />
        
        {% include '_packages.html' with {'packages':latest} %}

    </div>
    
    <div class="pack-summary">
        <div class="large-6 columns">
            <h3>Most Starred Extensions</h3>
            <hr>
            {% for package in starred %}
                <div class="row">
                    <div class="large-6 columns">
                        <h5>{{package.title}}</h5>
                        <h6>{{package.name}}</h6>
                    </div>
                    <div class="large-3 columns text-right"><h5><i class="fi-star"></i> {{package.stars|default(0)}}</h5></div>
                    <div class="large-3 columns">                    
                        <a class="button tiny" href="{{url('view',{'package':package.id})}}">Details</a>
                    </div>
                </div>
                <hr />
            {% endfor %}
        </div>
        
        <div class="large-6 columns">
            <h3>Most Downloaded Extensions</h3>
            <hr>
            {% for package in downloaded %}
                <div class="row">
                    <div class="large-6 columns">
                        <h5>{{package.title}}</h5>
                        <h6>{{package.name}}</h6>
                    </div>
                    <div class="large-3 columns text-right"><h5><i class="fi-download"></i> {{package.downloads|default(0)|number_format}}</h5></div>
                    <div class="large-3 columns">                    
                        <a class="button tiny" href="{{url('view',{'package':package.id})}}">Details</a>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}