<!doctype html>
<html>
<head>

    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properities -->
    <title>Bolt Store {% block header_title %}{% endblock %}</title>

    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,600italic,400italic' rel='stylesheet' type='text/css'>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
    <script src="/semantic/semantic.min.js"></script>
    <script src="/js/app.js"></script>
    {% block header_extra_scripts %}{% endblock %}

</head>

<body>

    <div class="ui inverted menu small no_radius" id="top_bar">
        <a class="item" href="/">Home</a>
        {% if request.get('isLoggedIn') %}
        <a class="item" href="{{url('profile')}}">Your Profile</a>
        <a class="item" href="{{url('logout')}}">Logout ({{request.get('user').name}})</a>
        {% else %}
        <a class="item" href="{{url('login')}}">Login</a>
        {% endif %}
        <a class="item" href="{{url('submit')}}">Submit an Extension</a>
    </div>

    <div class="ui top menu sticky no_radius">

        <div class="left menu">
            <a class="browse item">
                Browse Extensions
                <i class="dropdown icon"></i>
            </a>
            <div class="ui flowing basic admission transition popup">
                <div class="ui three column relaxed divided grid">
                    <div class="column">
                        <h4 class="ui header">Extensions</h4>
                        <div class="ui link list">
                            <a class="item" href="/browse?q=social&type=bolt-extension">Social</a>
                            <a class="item" href="/browse?q=comment&type=bolt-extension">Comments</a>
                            <a class="item" href="/browse?q=seo&type=bolt-extension">SEO</a>
                            <a class="item" href="/browse?q=form&type=bolt-extension">Forms</a>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="ui header">Themes</h4>
                        <div class="ui link list">
                            <a class="item" href="/browse?q=blog&type=bolt-theme">Blog</a>
                            <a class="item" href="/browse?q=responsive&type=bolt-theme">Responsive</a>
                            <a class="item" href="/browse?q=portfolio&type=bolt-theme">Portfolio</a>
                            <a class="item" href="/browse?q=foundation&type=bolt-theme">Foundation</a>
                            <a class="item" href="/browse?q=bootstrap&type=bolt-theme">Bootstrap</a>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="ui header">Other Links</h4>
                        <div class="ui link list">
                            <a href="/browse?order=date&type=" class="item">Most recent</a>
                            <a href="/browse?order=downloads&type=" class="item">Most dowloaded</a>
                            <a href="/browse?order=stars&type=" class="item">Most starred</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="right menu">
            <form class="ui right aligned category search item" onsubmit="return tsearch();" style="margin-bottom: 0;">
                <div class="ui transparent icon input">
                    <input class="prompt" type="text" id="txtSearch" placeholder="Search extension...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </form>
            <script type="text/javascript">
                function tsearch() {window.location = '/browse?q=' + document.getElementById('txtSearch').value; return false;}
            </script>
        </div>
    </div>

    {% block header_splash %}{% endblock %}

    <div class="ui container stepup_top">
        {% include '_messages.html' %}
        {% block content %}{% endblock %}

    </div>


    <div class="stepup_top"></div>

    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container stepup_top stepup_bot">
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Extensions</h4>
                    <div class="ui inverted link list">
                        <a href="/browse?order=name&type=bolt-extension" class="item">Sort by name</a>
                        <a href="/browse?order=date&type=bolt-extension" class="item">Most recents</a>
                        <a href="/browse?order=downloads&type=bolt-extension" class="item">Most dowloaded</a>
                        <a href="/browse?order=stars&type=bolt-extension" class="item">Most starred</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Themes</h4>
                    <div class="ui inverted link list">
                        <a href="/browse?order=name&type=bolt-theme" class="item">Sort by name</a>
                        <a href="/browse?order=date&type=bolt-theme" class="item">Most recents</a>
                        <a href="/browse?order=downloads&type=bolt-theme" class="item">Most dowloaded</a>
                        <a href="/browse?order=stars&type=bolt-theme" class="item">Most starred</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Follow Us</h4>
                    <div class="ui inverted link list">
                        <a href="https://twitter.com/boltcm" class="item">Twitter</a>
                        <a href="https://github.com/bolt" class="item">Github</a>
                        <a href="http://irccloud.com/" class="item">IRC #boltcms</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Bolt.cm Extensions Store</h4>
                    <p>Sophisticated, Lightweight and Simple</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img src="/images/bolt_icon.png" class="ui centered mini image">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="https://bolt.cm/">Bolt.cm</a>
                <a class="item" href="https://bolt.cm/news">News</a>
                <a class="item" href="https://docs.bolt.cm/introduction">Documentation</a>
                <a class="item" href="https://bolt.cm/download">Download</a>
            </div>
        </div>
    </div>

</body>

</html>
