 <!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bolt Extensions Library</title>
    <link rel="stylesheet" href="/components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="/components/foundation-icon-fonts/foundation-icons.css" />
    <link rel="stylesheet" href="/css/app.css" />
    
    <!-- FONTS -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic' rel='stylesheet' type='text/css'>
    <script src="/components/modernizr/modernizr.js"></script>

    
</head>
<body>

    <div class="fixed">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name"><a href="{{url('home')}}"><img src="/img/bolt.png"></a></li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <a href="{{url('home')}}"><h4>Bolt Extensions Library</h4></a>
            <section class="top-bar-section">
                <ul class="right">
                    <li><a href="{{url('submit')}}">Submit An Extension</a></li>
                    <li><a href="http://docs.bolt.cm/extensions">How to Use Extensions</a></li>
                    {% if request.get('isLoggedIn') %}
                        <li><a href="{{url('profile')}}">Your Profile</a></li>
                        <li><a href="{{url('logout')}}">Logout ({{request.get('user').name}})</a></li>
                    {% else %}
                        <li><a href="{{url('login')}}">Login</a></li>
                    {% endif %}
                </ul>   
            </section>
            
        </nav>
    </div>
    
    <div class="splash-section reverse search-section">
        <div class="row">
            <div class="large-12 columns">
                {% block splash%}{% endblock %}
            </div>
        </div>
    </div>
    
    
    
        <div class="row">
            <div class="large-12 columns page">
                {% include '_messages.html' %}
                {% block content %}{% endblock %}
            </div>
        </div>
    



    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/foundation/js/foundation.min.js"></script>
    <script src="/components/foundation/js/foundation/foundation.abide.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).foundation({
            orbit: {
                slide_number: false,
                timer: false
            }
        });
    </script>
  </body>
</html>