{% extends "layout.html" %}


{% block content %}

    <div class="ui middle aligned center aligned grid">
      <div class="column" style="max-width: 450px;">
        <h2 class="ui vk image header">
          <img src="/images/bolt_icon.png" class="image">
          <div class="content">
            Log-in to your account
          </div>
        </h2>
        <form class="ui large form" action="" method="post">
          <div class="ui stacked segment">
            <div class="field">
            	<label>Username</label>
                {{form_row(form.email)}}

            </div>
            <div class="field">
            <label>Password</label>
                {{form_row(form.password)}}
              </div>

            {{form_row(form.login, {attr:{class:'ui fluid large vk submit button'}})}}
          </div>

          <div class="ui error message"></div>

        </form>

        <div class="ui message">
          Don't have an account yet? <a href="{{url('register')}}">Register for one here</a>
        </div>
      </div>
    </div>



{% endblock %}