{% extends "layout.html" %}

{% block splash %}

    <h2>Profile for {{user.email}}</h2>
        
{% endblock %}

{% block content %}

    <div class="large-12 columns package-list">
        <h3>Your Registered Bolt Extensions</h3>
        <hr />
        <div class="row collapse">
            <div class="large-3 columns"><strong>Name</strong></div>
            <div class="large-4 columns"><strong>Description</strong></div>
            <div class="large-3 columns"><strong>Author(s)</strong></div>
            <div class="large-2 columns"></div>
        </div>
        <hr />
        {% for package in packages %}
            <div class="row collapse">
                <div class="large-3 columns"><h4>{{package.title}}</h4> <h6>{{package.name}}</h6></div>
                <div class="large-4 columns"><p>{{package.description}}</p></div>
                <div class="large-3 columns"><p>{{package.authors}}</p></div>
                <div class="large-2 columns">
                    <a class="button radius tiny" href="{{url('update',{'package':package.id})}}">UPDATE</a>
                </div>
            </div>
            <hr />
        {% endfor %}
    </div>  
    
{% endblock %}