{% extends "layout.html" %}



{% block splash %}
<h2>Register for an account</h2>
{% endblock %}

{% block content %}

<div class="">
    <h3>Registration Information</h3>
    <p>
        Registering for an account allows you to submit extensions and themes that will then be available within the extensions
        manager.
    </p>
    <p> 
        <strong>Note:</strong> Extensions submitted are subject to moderation according to 
        <a href="http://docs.bolt.cm/extensions/config" target="_blank">the submission guidelines</a>.
    </p>
</div>

<br>

<div class="ui form">
    <form action="" method="post">
        <div class="field">
            <label>Email</label>
            {{form_row(form.email)}}
        </div>
        <div class="field">
            <label>Name</label>
            {{form_row(form.name)}}
        </div>
        <div class="field">
            <label>Username</label>
            {{form_row(form.username)}}
        </div>
        <div class="field">
            <label>Password</label>
            {{form_row(form.password)}}
        </div>
        {{form_row(form.create, {attr:{class:'ui fluid large green submit button'}})}}
    </form>
</div>


{% endblock %}
