{% extends "layout.html" %}

{% block ga_extras %}
    ga('set', 'page', '/stats/<package-uuid>');
    ga('set', 'dimension2', '{{package.id}}');
    ga('set', 'dimension3', '{{package.title}}');
{% endblock %}

{% block content %}

<style>
	.package-statistics {
		margin-top: 20px;
	}
</style>

<div class="ui grid stackable">
	<div class="twelve wide column">
        <h2 class="ui header">
            <img class="ui rounded image" src="{{packageIcon(package)}}">
            <div class="content">
                {{package.title}}
                <div class="sub header">Statistics</div>
            </div>
        </h2>
        <!-- <div>Last Update: 13/08/2015</div> -->
    </div>
</div>

<div class="package-statistics">
	<h3>Foo</h3>
</div>

{% endblock %}
