{% extends "layout.html" %}

{% block splash %}

    <h2>Submit a Bolt Extension</h2>
     
{% endblock %}


{% block content %}

    {% if error == 'invalid' %}
        <div class="large-12 columns">
            <div data-alert class="alert-box alert radius">
                Sorry! We couldn't recognise the provided source as a valid extension. Check the url and that the project has a valid 'composer.json' file in the root of the project.
            </div>
        </div>
    {% endif %}
    <div class="large-12 columns">
        <form action="" method="post">
            {{form_row(form.title)}}
            {{form_row(form.source)}}
            {{form_row(form.description)}}
            {{form_row(form.documentation)}}
            {{form_row(form.submit, {attr:{class:'small expand radius'}})}}
        </form>
    </div>


{% endblock %}