{% extends "layout.html" %}


{% block header_title %} | {{package.title}}{% endblock %}

{% block content %}
    <div class="ui grid stackable centered">
        <div class="twelve wide column">     
            <h2 class="ui header">
                <img class="ui rounded image" src="/images/{{ package.type }}">
                <div class="content">
                    {{package.title}}
                    <div class="sub header">by {{package.authors}}</div>
                </div>
            </h2>
        </div>
        
        {% include '_package_testing.html' %}

    </div>
{% endblock %}
