{% extends "layout.html" %}

{% block splash %}

    <h2>Information for {{package.title}}</h2>
     
{% endblock %}


{% block content %}


    <div class="large-12 columns">
        <h3>{{package.title}} – {{package.name}}</h3>
        <p>
            {{package.description}}
        </p>
        <p>
            <strong>Tags:</strong>
            {% for tag in package.keywords %}
                <a href="{{url('search',{'q':tag})}}"><span class="label radius">{{tag}}</span></a>
            {% endfor %}
        </p>
        <p><a href="{{package.source}}">View Source Code</a></p>
    </div>


{% endblock %}