body {
    font-family:Lato, Helvetica, sans-serif;
}
body h1, body h2, body h3, body h4 {
    font-family:Lato, Helvetica, sans-serif;
}

.top-bar {
    background-color:#131923;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    background-color:#131923;
}
.top-bar h4 {
    color:white;
    font-weight:100;
    float:left;
    margin-top:5px;
}
.top-bar .name img {
    width:43px;
    margin:4px;
}

.splash-section {
    background:#2A3244;
    text-align: center;
}
.search-section {
    padding:3rem;
}
.reverse h2, .reverse h3, .reverse h4, .reverse p, .reverse label {
    color:#FFFFFF;
}

.page {
    background:white;
    box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
    padding-top:20px;
}
.buildstatus {
    font-size: 100%;
    color:white;
}
.buildstatus i,
.buildstatus small {
    color:white;
}
.buildstatus small {
    line-height: 10%;
    margin:-5px 0 -5px 4px;
}
.buildstatus sup {
    line-height:0;
}
.buildstatus i:hover {
    color:#DDDDDD;
}
.package-versions table td {
    font-size:75%;
}
.builds-list .button,
.package-title .button,
.pack-summary .button {
    margin-bottom:5px;
}
.pack-summary hr {
    margin:0px 0 3px 0;
}