body {
    font-family:'Source Sans Pro' , Helvetica, sans-serif;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Source Sans Pro' , Helvetica, sans-serif;
}

.top-bar {
    background-color:#152833;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    background-color:#152833;
}
.top-bar h4 {
    color:white;
    font-weight:400;
    float:left;
    margin-top:5px;
}
.top-bar .name img {
    width:43px;
    margin:4px;
}

.splash-section {
    background:#1f425f;
    text-align: center;
}
.search-section {
    padding:3rem;
}
.reverse h2, .reverse h3, .reverse h4, .reverse p, .reverse label {
    color:#FFFFFF;
}

.page {
    background:white;
    /*box-shadow: 1px 1px 9px rgba(0,0,0,0.2);*/
    padding-top:20px;
}

.label.tags {
    padding: 0.375rem 0.5rem 0.375rem 0.5rem;
}

h5 {
    font-weight: 600;
}

.button,
button {
    text-transform: uppercase;
    background-color: #f6350c;
}

.button:hover,
button:hover {
    background-color: #c72707;
}

.button.disable {
    background-color: #8c8c8c;
    color: #ccc;
}

.buildstatus {
    font-size: 100%;
    color:white;
}
.buildstatus i,
.buildstatus small {
    color:white;
}
.buildstatus small {
    line-height: 10%;
    margin:-5px 0px 0px 4px;
}
.buildstatus .version {
    line-height:auto;
    font-size:70%;
    margin-left: 4px;
}
.buildstatus i:hover {
    color:#DDDDDD;
}
.package-versions table td {
    font-size:75%;
}

.package-list {
    margin-bottom: 3em;
}

.builds-list .button,
.package-title .button,
.pack-summary .button {
    margin-bottom:5px;
}
.pack-summary hr {
    margin:0px 0 3px 0;
}
.screenshots {
    box-shadow:1px 1px 5px rgba(0,0,0,0.2);
}
}

form label {
    font-weight: bold;
    font-size: 1em;
}
